<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <!-- <h4 class="title">Editar información</h4> -->
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control" placeholder="Dirección completa">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" class="form-control" placeholder="99-99-99-99-99">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Correo</label>
                                        <input type="text" class="form-control" placeholder="correo@gmail.com">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Horarios</label>
                                        <input type="text" class="form-control"
                                            placeholder="L-V de 9:00 a.m. / 5:00 p.m.">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-mci btn-fill pull-right btn-round">
                                <i class="fa fa-save"></i>
                                Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>